.scroll-spy p {
  margin-top: 20vh;
  opacity: 0;
  font-size: 14px;
  font-family: monospace;
  transform: translateY(100px);
  transition: all 0.3s;
  width: 80%;
  padding-bottom: 15vh;
}
.scroll-spy p.visible {
  opacity: 1;
  transform: translateY(0);
}
